
.App{
    display: flex;
   margin: auto;  
}
.bd{
    border-radius: 15px;
}


.Box1{
    width: 350px;
    height: 511px; 
}
.bor1{
    height: 550px;
    
}
.bor2{
    padding: 25px;
    margin-top: 20px;
}

#head{
    padding-top: 10px;
    text-align: center;
    color: gray; 
}
#headb{
    text-align: center;
    color: black;
}

#button1{
    width: 250px;
    border-radius: 10px;
    font-size: 18px;
}




